body{
    margin:0;
    height: 100vh;
    width:100%;
    background-color: rgb(68, 109, 109);
}


.scroll-mandatory{
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
    width:100%;
    
    
    
}



.container{
    scroll-snap-align: start;
    height: 100vh;
    width:100%;
    
    /*background-image: url("Images/ŠTRBAČKI_BUK_2.JPG");*/
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.picture{
    background-image: url("Images/ŠTRBAČKI_BUK_2.JPG");
    background-position: center;
    background-size: cover;
    border-top: 5px solid white;
    border-bottom:5px solid white;
    width: 100%;
    height: 90vh;
    display: flex;
    
}

.overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width:100%;
    height:100%;
    
}

.name{
    width:100%;
    height: 40vh;
    /*border: 2px solid black;*/
    margin-top: 1vh;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.name-h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width:100%;
    font-size: 10vh;
    /*border:2px solid white;*/
    text-align: center;
    font-style: italic;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    
    
}

.about{
    width: 80%;
    height: 40vh;
    margin-top: 5vh;
    margin-bottom: 10vh;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    align-items: center;
    border-radius: 100px;
    
    
    
    
    
}

.img{
    margin-left: 60vh;
    height: 30vh;
    width: 30vh;
    border: 5px white solid;
    border-radius: 50%;
    margin-right: 5vh;
}

.about-p{
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3vh;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-radius: 50px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    padding: 3vh;
    /*background-color: rgb(68, 109, 109);*/
    
    
}

.something1{
    scroll-snap-align: start;
    height: 100vh;
    width:100%;
    display: block;
}

.secondPage-h1{
    display: flex;
    justify-content: center;
    
    width: 100%;
    font-size: 10vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top:10vh;
    margin-left: 0;
    margin-right:0;
    margin-bottom:0;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    
}
.second-page-p{

    display:flex;
    justify-content: center;
    width:100%;
    font-size: 3vh;
    margin-top: 1vh;
    margin-left: 0;
    margin-right:0;
    margin-bottom:0;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-family: 'Courier New', Courier, monospace;
}
.grid-text{
    
    height:30vh;
    width:100%;
    
    
}
.display-flex{
    height: 70vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.project1{
    border: 5px solid white;
    width: 20%;
    height: 45vh;
    margin-right:4vh;
    border-radius: 10px;
    
}

.slika1{
    border: 2px solid white;
    height: 40vh;
    width: 90%;
    margin:auto;
    margin-top: 2vh;
    
}
video{
    height:100%;
    width:100%;
    object-fit:cover;
    
}



.project2{
    border: 5px solid white;
    width: 20%;
    height: 45vh;
    margin-right:4vh;
    border-radius: 10px;
}

.slika2{
    border: 2px solid white;
    height: 40vh;
    width: 90%;
    margin:auto;
    margin-top: 2vh;
}

.project3{
    border: 5px solid white;
    width: 20%;
    height: 45vh;
    margin-right:4vh;
    border-radius: 10px;
}

.slika3{
    border: 2px solid white;
    height: 40vh;
    width: 90%;
    margin:auto;
    margin-top: 2vh;
}

.project4{
    border: 5px solid white;
    width: 20%;
    height: 45vh;
    
    border-radius: 10px;
}

.slika4{
    border: 2px solid white;
    height: 40vh;
    width: 90%;
    margin:auto;
    margin-top: 2vh;
}

.something2{
    scroll-snap-align: start;
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.picture1{
    border:2px solid white;
    height:80vh;
    width:20%;
    margin-right:5vh;
    border-radius: 10px;
}

.picture2{
    border:2px solid white;
    height:80vh;
    width:20%;
    margin-right:5vh;
    border-radius: 10px;
}

.picture3{
    border:2px solid white;
    height:80vh;
    width:20%;
    margin-right:5vh;
    border-radius: 10px;
}
.picture4{
    border:2px solid white;
    height:80vh;
    width:20%;
    margin-right:5vh;
    border-radius: 10px;
}

.strbacki-buk-tiny{
    border-radius: 10px;
    height:100%;
    width:100%;
    object-fit: cover;
    object-position: center;
}