*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
}

body{
    margin:0;
    background-color: gray;
}

.kontainer{
    
    height: 100vh;
    width:100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.navbar{
    display: inline-flex;
    width: 100%;
    background-color: transparent;
    justify-content: space-between;
    position:fixed;
}


.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.list{
    color:white;
    margin-right:3%;
}

#logo{
    margin: 1vh 1vh;
    width: 5vh;
    height: 5vh;
}

ul{
    
    display: flex;
    list-style-type:none;
    
    
}

li{
    margin-right: 4px;
    padding: auto 4px;
    
}

.front,.lokacija{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
    width: 80%;
    height: 70%;
}

.video{
    box-shadow: 50px 50px 10px 10px  rgba(0,0,0,0.4);
    border-radius: 20px;
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.location{
    display: flex;
}

.slide{
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100%;
}

a:not(.video-link):hover{
    padding: 4px;
    border: 1px solid black;
    color: black;
}

a:not(.video-link){
    padding:2px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
}



.about,.services,.communication,.mission,.experience{
    display: inline-flex;
}

.komunikacija,.misija,.iskustvo,.servisi,.opis{
    box-shadow: 50px 50px 10px 10px  rgba(0,0,0,0.4);
    display: grid;
    border-radius: 40px;
    width:50%;
    height: 50%;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p,h3{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pic1,.pic2,.pic3,.pic4{
    height: fit-content;
    
    
}

#image1,#image2,#image3{
    box-shadow: 33px 50px 10px 10px  rgba(0,0,0,0.4);
    height: 400px;
    width:600px;

}

.start{
    display: flex;
    
}

/*SLIDERSHOW*/

.container{
    
    flex-shrink: 2;
    border-radius: 30px;
    position: relative;
    left:50%;
    right:50%;
    top:50%;
    min-width: 80%;
    transform: translate(-50%,-50%);
    width:80%;
    height: 80%;
    padding:50px;
    background-color: #f5f5f5;
    box-shadow: 50px 50px 10px 10px  rgba(0,0,0,0.4);
    
}
#slide{
    border-radius:30px;
    width:100%;
    margin-top:50px;
}
.item{
    width:200px;
    height:300px;
    background-position: 80% 70%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top:80%;
    transform: translate(0,-50%);
    border-radius: 30px;
    box-shadow: 50px 50px 10px 10px  rgba(0,0,0,0.4);
}
.item:nth-child(1),
.item:nth-child(2){
    
    left:0;
    top:0;
    transform: translate(0,0);
    border-radius: 30px;
    width:100%;
    height:100%;
    box-shadow: none;
}
.item:nth-child(3){
    left:50%;
}
.item:nth-child(4){
    left:calc(50% + 220px);
}
.item:nth-child(5){
    left:calc(50% + 440px);
}
.item:nth-child(n+6){
    left:calc(50% + 660px);
    opacity: 0;
}
.item .content{
    
    position: absolute;
    top:50%;
    left:100px;
    width:300px;
    text-align: left;
    padding:0;
    color:#eee;
    transform: translate(0,-50%);
    display: none;
    font-family: system-ui;
}
.item:nth-child(2) .content{
    display: block;
    z-index: 11111;
}
.item .name{
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    animation:showcontent 1s ease-in-out 1 forwards
}
.item .des{
    margin:20px 0;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.3s 1 forwards
}
.item button{
    padding:10px 20px;
    border:none;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.6s 1 forwards
}
@keyframes showcontent{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter:blur(33px);
    }to{
        opacity: 1;
        transform: translate(0,0);
        filter:blur(0);
    }
}
.buttons{
    position: absolute;
    bottom: 15%;
    right: 80%;
    z-index: 222222;
    text-align: center;
    
}
.buttons button{
    width:50px;
    height:50px;
    border-radius: 50%;
    border:1px solid #555;
    transition: 0.5s;
}.buttons button:hover{
    background-color: #bac383;
}